body{
background-color: #FF8C00;
margin: 70px;
}

h1 {
	text-align: center;
	color: red;
	font-family: Arial;
    font-size:80px;
    margin-top:20px;
    margin-bottom: 0px;
    text-shadow: 0px 0px 0px #f72585; 
}

h2{
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: Times New Roman;

}

h3{
	color: purple;
	text-align: center;
	font-size: 25px;
	font-family: helvetica;
}

